.skill {
    border: 1px solid #dee2e6!important;
    font-family: "Rubik", sans-serif;
    width: 270px;
    border-radius: 5px;
    padding: 2px 25px 10px;
}
.skill-title {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:1120px) {
    .skill {
        width: 200px;
    }
}

@media screen and (max-width:900px) {
    .skill {
        width: 270px;
    }
}

@media screen and (max-width:740px) {
    .skill {
        width: 300px;
    }
}
@media screen and (max-width:740px) {
    .skill {
        width: 220px;
    }
}