.skill {
    border: 1px solid #dee2e6!important;
    font-family: "Rubik", sans-serif;
    width: 270px;
    border-radius: 5px;
    padding: 2px 25px 10px;
}
.skill-title {
    display: flex;
    justify-content: space-between;
}