#information {
    width: 520px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 50px;
}

#border {
    width: 300px;

    border: 1px solid white;
}

@media screen and (max-width:800px ) {
    #information {
        align-items: center;
    }
}

@media screen and (max-width:600px ) {
    #information {
        width: 340px;
        margin: 0px;
}
}

@media screen and (max-width: 400px) {
    #border {
        width: 200px;
    }
    #information {
        width: 240px;
    }
}