.footer {
    width: 100vw;
    height: 70px;

    background-color: rgb(288, 4, 81);

    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > p {
    margin: 0px;
}
@media screen and (max-width: 600px) {
    
    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}