.displayWall {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 70px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.text {
    margin: 30px;
}

@media screen and (max-width: 900px) {
    .displayWall {
        padding-top: 0px;
    }
}